@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); /*headings*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Concert+One&display=swap'); /*Text*/


.grid{
  display: grid;
  justify-content: center;
}

.name{
  color: darkblue;
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
}

h2{
  color: rgb(189, 38, 38);
  font-family: "Concert One", Helvetica, Arial;
  border-bottom: 1px solid rgb(179, 49, 49);
}

footer{
  color:darkblue;
  background-color: lightblue;
  align-items: center;
  text-align: center;
  border-radius:10px;
  margin-top: 3em;
}

main {
  transition: all 1.3s;
  font-family: "Baloo 2", sans-serif, Arial;
}

a:hover,
a:active {
  border-bottom: 2px solid red;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1.3s;
  letter-spacing: 1px;
  color: rgb(236, 11, 11);
}

.portrait{
  float: right;
  box-shadow: 1px 1px 10px 1px #888;
  border-radius: 1em;
  margin-left: 10px;
  margin-top: -30px;
  margin-right: 10px;
  z-index: -5;
  width: 100px;
}


@media screen and (max-width: 550px) {
  .grid{
    display: block;
  }

  footer {
    display: block;
  }
}
